﻿@{
   ViewBag.Title = "BAT2 WEB - " + @Resources.Resources.StatisticsTitle;
}

@section styles
{
   @Styles.Render("~/Content/DataTables-1.10.3/css/bundle")
   @Styles.Render("~/Content/themes/base/themes")
}

<div id="weighingsForm">

   <div class="actionbar">
      <a data-toggle="collapse" data-target="#filterBar">
         <img src='@Url.Content("~/Content/images/filter.png")' alt="@Resources.Resources.FilterTitle" title="@Resources.Resources.FilterTitle" />
      </a>

      <a data-toggle="modal" href="#" @*data-target="#importFiles"*@ id="myBtn" style="text-align: right; float: right;">
         <img src='@Url.Content("~/Content/images/import.png")' alt="@Resources.Resources.ImportTitle" title="@Resources.Resources.ImportTitle" />
      </a>
      <a href="javascript:WeighingsVM.exportWeighings()" style="text-align: right; float: right;">
         <img src='@Url.Content("~/Content/images/save.png")' alt="@Resources.Resources.ExportTitle" title="@Resources.Resources.ExportTitle" />
      </a>
   </div>

   <div id="filterBar" class="collapse">
      @Html.Partial("_WeighingsFilterView")
   </div>
   <div id="tabs">
      <ul class="submenu" id="myTab">
         <li class="active" id="selectedStat">
            <a href="">@Resources.Resources.CollectedDataHTitle</a>
         </li>

      </ul>

      <div class="tab-content" id="statPart">
         <div class="tab-pane active" id="stat">
            @if (User.IsInRole(DataModel.Constants.ADMIN) || User.IsInRole(DataModel.Constants.COMPANY_ADMIN) || User.IsInRole(DataModel.Constants.FLOCK_MANAGEMENT))
            {
               <a data-toggle="modal" data-bind="attr: { href: (weighingSelectedCount() > 0? '#deleteWeighings':'#') }">
                  <img data-bind=" style: { opacity: weighingSelectedCount() > 0 ? '1' : '0.5' }" src='@Url.Content("~/Content/images/del.png")' alt="@Resources.Resources.DeleteSelectedTitle" width="36" height="36" title="@Resources.Resources.DeleteSelectedTitle" >
               </a>
            }
            @Html.Partial("_WeighingStatsView")
         </div>
         <div class="tab-pane" id="graph">

         </div>

         @* Modal windows *@

         <div class="modal fade" id="deleteWeighings">
            <form style="margin-bottom: 0;" data-bind="submit: deleteWeighings">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">×</button>
                  <h3>@Resources.Resources.DeleteWeighingsModalTitle</h3>
               </div>
               <div class="modal-body">
                  <span class="alertText">@Resources.Resources.DeleteWeighingsWarn</span>
               </div>
               <div class="modal-footer">
                  <a href="#" class="btn" data-dismiss="modal">@Resources.Resources.CancelButton</a>
                  <input type="submit" class="btn btn-primary" value="@Resources.Resources.DeleteWeighingsButton" />
               </div>
            </form>
         </div>


         <div class="modal fade" id="importFiles">
            <form id="uploadForm">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">×</button>
                  <h3>@Resources.Resources.ImportStatsFile</h3>
               </div>
               <div class="modal-body">
                  @*FEMALE/UNDEFINED*@
                  <label class="control-label toshow" id="femaleTitle">@Resources.Resources.ImportFemaleFileTitle</label>
                  <label class="control-label" id="sharedTitle">@Resources.Resources.ImportFileTitle</label>

                  <div class="upload">
                     <input type="button" class="uploadButton" value="@Resources.Resources.BrowseTitle" />
                     <input type="file" name="upload" accept=".csv,.xls,.xlsx" id="fileUploadFemale" />
                     <span class="fileName"></span>
                  </div>
                  <a href="#" id="showMale">
                     <img src='@Url.Content("~/Content/images/add.png")' alt="@Resources.Resources.ImportShowMale" title="@Resources.Resources.ImportShowMale" />
                  </a>
                  <span class="alertText toshow" id="errFileMissing">File not selected!</span>
                  <br />

                  @*MALE*@
                  <div id="maleImport" class="toshow">
                     <br />
                     <label class="control-label">@Resources.Resources.ImportMaleFileTitle</label>
                     <div class="upload">
                        <input type="button" class="uploadButton" value="@Resources.Resources.BrowseTitle" />
                        <input type="file" name="upload" accept=".csv,.xls,.xlsx" id="fileUploadMale" />
                        <span class="fileName"></span>
                     </div>
                     <a href="#" id="hideMale">
                        <img src='@Url.Content("~/Content/images/remove.png")' alt="@Resources.Resources.ImportHideMale" title="@Resources.Resources.ImportHideMale" />
                     </a>
                  </div>
                  <br />
                  <div id="radioUnit">
                     <input type="radio" id="radio1" name="unit" value="kg" checked>
                     <label for="radio1">kg</label>
                     <input type="radio" id="radio2" name="unit" value="lbs">
                     <label for="radio2">lbs</label>
                  </div>
               </div>
               <div class="modal-footer">
                  <a href="#" id="clearForm" style="float: left;">
                     <img src='@Url.Content("~/Content/images/del.png")' alt="@Resources.Resources.ImportClearFiles" title="@Resources.Resources.ImportClearFiles" />
                  </a>
                  <a href="#" class="btn" data-dismiss="modal">@Resources.Resources.CancelButton</a>
                  <input type="button" class="btn btn-primary" value="@Resources.Resources.ImportFile" id="importFilesButton" />
               </div>
            </form>
            <div id="progresBar" class="progresBar">
               <div class="progress-bar orange shine">
                  <span style="width: 100%" class="red-rec">
                  </span>
               </div>
            </div>



         </div>

         <div class="modal fade" id="dialog-confirm">
            <form style="margin-bottom: 0;" data-bind="submit: deleteWeighings">
               <div class="modal-header">
                  <button type="button" class="close" id="dialog-close">×</button>
                  <h3>@Resources.Resources.ImportResult</h3>
               </div>
               <div class="modal-body">
                  <div id="Imported" class="hidden">@Resources.Resources.ImportSuccessNumber</div>
                  <div id="NotImported" class="hidden">@Resources.Resources.ImportFailedNumber</div>
                  <span id="dialogResult"></span>
               </div>
               <div class="modal-footer">
                  <input type="submit" class="btn btn-primary" value="@Resources.Resources.OkButton" id="dialog-ok" />
               </div>
            </form>
         </div>

      </div>
   </div>

</div>


@section scripts
{
   <script type="text/javascript">
      $(document).ready(function () {
         $("#myBtn").click(function () {
            $("#importFiles").modal({ backdrop: true });
         });
      });
   </script>
   @Scripts.Render("~/Scripts/DataTables")

   @Html.JsActionScript()
   @Scripts.Render("~/ViewModels/FilterVM.js")
   @Scripts.Render("~/ViewModels/WeighingsVM.js")
}