﻿@using DataModel
@{
   ViewBag.Title = Resources.Resources.BAT2WEB_Scales;
   Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles
{
   @Styles.Render("~/Content/DataTables-1.10.3/css/bundle")
   @Styles.Render("~/Content/themes/base/themes")
}

@if (User.IsInRole(Constants.ADMIN))
{
   @Html.Hidden("Role", Constants.ADMIN)
}
else if (User.IsInRole(Constants.COMPANY_ADMIN))
{
   @Html.Hidden("Role", Constants.COMPANY_ADMIN)
}
else if (User.IsInRole(Constants.FLOCK_MANAGEMENT))
{
   @Html.Hidden("Role", Constants.FLOCK_MANAGEMENT)
}
else
{
   @Html.Hidden("Role", Constants.USER)
}

<div class="actionbar" style="margin-bottom: 15px;">
   @if (User.IsInRole(Constants.ADMIN) || User.IsInRole(Constants.COMPANY_ADMIN) || User.IsInRole(Constants.FLOCK_MANAGEMENT))
   {
      <a data-toggle="modal" data-target="#createScale" href="#">
         <img src='@Url.Content("~/Content/images/addflock.png")' alt="@Resources.Resources.AddScaleTitle" title="@Resources.Resources.AddScaleTitle" />
      </a>

      <a data-toggle="modal">
         <img id="delScales" src='@Url.Content("~/Content/images/del.png")' alt="@Resources.Resources.DeleteScaleTitle" title="@Resources.Resources.DeleteScaleTitle" />
      </a>
   }
   <a href="#" style="text-align: right; float: right;" id="exportScales">
      <img src='@Url.Content("~/Content/images/save.png")' alt="@Resources.Resources.ExportScales" title="@Resources.Resources.ExportScales" />
   </a>
</div>

<div style="clear: both; margin-left: 0">
   <h3 id="CurversTitleLong" style="margin-bottom: 10px;">@Resources.Resources.AvailableScalesTitle</h3>
   <table id="scalesTable" class="dataTable">
      <thead>
         <tr>
            <th>Id</th>
            <th>@Resources.Resources.ScalesSerialNumberTitle</th>
            <th>@Resources.Resources.ScalesScaleNameTitle</th>
            <th>@Resources.Resources.ScalesPhoneNumberTitle</th>
            <th>@Resources.Resources.ScalesFarmNameTitle</th>
            <th>@Resources.Resources.ScalesUsersTitle</th>
            <th>@Resources.Resources.ScalesConfigurationTitle</th>
            <th>@Resources.Resources.ScalesCompanyTitle</th>
         </tr>
      </thead>
      <tbody></tbody>
   </table>
</div>

<div id="scalesForm">

   <div class="modal fade" id="createScale">
      <form data-bind="submit: CreateScale" style="margin-bottom: 0;">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>@Resources.Resources.CreateScaleModalTitle</h3>
         </div>
         <div class="modal-body">
            <div class="leftSide">
               @Resources.Resources.ScalesSerialNumberTitle: <br>
               <input data-bind="value: serialNumber, valueUpdate: 'afterkeydown'" type="text"><br>
               <span id="scale-exist" class="validationMessage" style="display: none">@Resources.Resources.ScalesAlreadyExist</span>
               @Resources.Resources.ScalesScaleNameTitle <br>
               <input data-bind="value: scaleName" type="text"><br>
               @Resources.Resources.ScalesFarmNameTitle <br>
               <input data-bind="value: farmName" type="text"><br>
               @Resources.Resources.ScalesPhoneNumberTitle:<br>
               <input data-bind="value: phoneNumber, valueUpdate: 'afterkeydown'" type="text">
            </div>
         </div>
         <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">@Resources.Resources.CloseButton</a>
            <input type="submit" class="btn btn-primary" value="@Resources.Resources.CreateBtn" />
         </div>
      </form>
   </div>

   <div class="modal fade" id="deleteScales">
      <form data-bind="submit: DeleteScales" style="margin-bottom: 0;">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>@Resources.Resources.DeleteScalesModalTitle</h3>
         </div>
         <div class="modal-body">
            <span class="alertText">@Resources.Resources.DeleteScalesWarn</span>
         </div>
         <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">@Resources.Resources.CancelButton</a>
            <input type="submit" class="btn btn-primary" value="@Resources.Resources.OkButton" />
         </div>
      </form>
   </div>

   <div class="modal fade" id="changeUsers">
      <form style="margin-bottom: 0;" class="well">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>@Resources.Resources.SelectUsers</h3>
         </div>
         <div class="modal-body">
            <label class="control-label" for="multiSelect">@Resources.Resources.ScalesUsersTitle</label>
            <div class="controls">
               <select id="multiSelect" multiple="multiple" style="height: 200px; width: 100%" data-bind="options: users,
                   optionsText: 'name',
                   optionsValue: 'id',
                   selectedOptions: usersSelected"></select>
            </div>
         </div>
         <div class="modal-footer">
            <a href="#" class="btn btn-primary" data-dismiss="modal" data-bind="click: SetScaleUsers">@Resources.Resources.SaveButton</a>
         </div>
      </form>
   </div>

   <div class="modal fade" id="changeCompany">
      <form style="margin-bottom: 0;" class="well">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>@Resources.Resources.SelectCompany</h3>
         </div>
         <div class="modal-body">
            <label class="control-label" for="multiSelect">@Resources.Resources.Company</label>
            <div class="controls">
               <select id="singleSelect" style="width: 100%" size="10" data-bind="options: companies,
                   optionsText: 'name',
                   optionsValue: 'id',
                   selectedOptions: companiesSelected"></select>
            </div>
         </div>
         <div class="modal-footer">
            <a href="#" class="btn btn-primary" data-dismiss="modal" data-bind="click: SetScaleCompanies">@Resources.Resources.SaveButton</a>
         </div>
      </form>
   </div>

   <div class="modal fade" id="changeConfig">
      <form style="margin-bottom: 0;" class="well">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>@Resources.Resources.ScaleTypeSelect</h3>
         </div>
         <div class="modal-body">
            <table style="margin: auto">
               <tr>
                  <td>
                     <div class="bat-config disabled" @*data-bind="click: ChangeScaleType('Bat1')"*@>
                        <h3>Bat1</h3>
                     </div>
                  </td>
                  <td>
                     <div class="bat-config" data-bind="click: ChangeScaleType.bind('Bat2')">
                        <h3>Bat2</h3>
                     </div>
                  </td>
               </tr>
               <tr>
                  <td>
                     <div class="bat-config disabled" @*data-bind="click: ChangeScaleType('Bat2+')"*@>
                        <h3>Bat2+</h3>
                     </div>
                  </td>
                  <td>
                     <div class="bat-config disabled" @*data-bind="click: ChangeScaleType('Bat3')"*@>
                        <h3>Bat3</h3>
                     </div>
                  </td>
               </tr>
            </table>
         </div>
         <div class="modal-footer">
            @*<a href="#" class="btn btn-primary" data-dismiss="modal" data-bind="click: SetScaleCompanies">@Resources.Resources.OkButton</a>*@
         </div>
      </form>
   </div>

</div>

@section scripts
{
   @Scripts.Render("~/Scripts/DataTables")
   @Scripts.Render("~/Scripts/taphold.js")
   @Html.JsActionScript()
   @Scripts.Render("~/ViewModels/ScalesVM.js")
}
