﻿<span class="alertText">@Resources.Resources.CloseFlocksWarn</span>

<div class="control-group" style="padding-top: 15px;">
   <label class="control-label" for="endDate">@Resources.Resources.EndDateLabel</label>
   <div class="controls">
      <input id="endDate" type="text" class="input-small" data-bind="value: closedDate().endDate, valueUpdate: 'afterkeydown'" />
   </div>
</div>