﻿@using Resources
@{
   ViewBag.Title = Resources.BAT2WEB_FlocksManagement;
}

@section styles
{
   @Styles.Render("~/Content/DataTables-1.10.3/css/bundle")
   @Styles.Render("~/Content/themes/base/themes")
}
<div id="tabs">

   <ul class="submenu" id="myTab">
      <li class="active" id="actualFlocks"><a href="#actual">@Resources.CurrentTitle <span id="actualRowsCount"></span></a></li>
      <li id="closedFlocks"><a href="#closed">@Resources.ClosedTitle <span id="closedRowsCount"></span></a></li>
   </ul>

   <div class="tab-content">
      <div class="tab-pane active" id="actual">
         @Html.Partial("_ActualFlocksView")
      </div>
      <div class="tab-pane" id="closed">
         @Html.Partial("_ClosedFlocksView")
      </div>
   </div>

</div>
@section scripts
{
   @Scripts.Render("~/Scripts/DataTables")
   @Html.JsActionScript()
   @Scripts.Render("~/ViewModels/ActualFlocksVM.js")
   @Scripts.Render("~/ViewModels/ClosedFlocksVM.js")
   @Scripts.Render("~/ViewModels/FilterVM.js")
}