﻿@using System.Globalization
@model BatApp.Areas.UserAccounts.Models.Account.IndexViewModel
@{
   ViewBag.Title = @Resources.Resources.UserDetails + User.Identity.Name;
   ViewBag.CurrentPage = "users";
}
<h3 class="userAccounts">@Resources.Resources.UserDetails @User.Identity.Name</h3>
@Resources.Resources.ActiveSince @Model.CreationDate.ToString(CultureInfo.CurrentCulture)

<hr />
<p class="label-success">@ViewBag.StatusMessage</p>

<div class="container-fluid">
   @using (Html.BeginForm("Index", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
   {
      @Html.AntiForgeryToken()
      @Html.ValidationSummary(true, "", new {@class = "alert-danger"})
      <div>
         <div class="row">
            @Html.LabelFor(m => m.Name, new {@class = "span2"})
            <div class="span10">
               @Html.TextBoxFor(m => m.Name)
               @Html.ValidationMessageFor(m => m.Name, "")
            </div>
         </div>
         <div class="row">
            @Html.LabelFor(m => m.Email, new {@class = "span2"})
            <div class="span10">
               @Html.TextBoxFor(m => m.Email)
               @Html.ValidationMessageFor(m => m.Email, "")
            </div>
         </div>
         <div class="row">
            @Html.Label(@Resources.Resources.Password, new {@class = "span2"})
            <div class="span10">
               [@Html.ActionLink(@Resources.Resources.ChangePassword, "ChangePassword")]
            </div>
         </div>
         <div class="row">
            <div class="offset2 span10">
               <input type="submit" class="submitBtn submitUserAdm" value="@Resources.Resources.SaveChangesButton" />
            </div>
         </div>
      </div>
   }
</div>