﻿<div class="bat2-view-item">
   <table>
      <tr>
         <td style="width: 160px">
            @Resources.Resources.Bat2Backlight:
         </td>
         <td>
            <input type="radio" name="backlight" value="2" data-bind="checked: backlight" /> @Resources.Resources.Bat2Off
            <input type="radio" name="backlight" value="1" data-bind="checked: backlight" style="margin-left: 20px" /> @Resources.Resources.Bat2On
            <input type="radio" name="backlight" value="0" data-bind="checked: backlight" style="margin-left: 20px" />@Resources.Resources.Bat2Auto
         </td>
      </tr>
   </table>
</div>