﻿<div>
   <div class="bat2-view-item" style="margin-bottom: 5px">
      <table>
         <tr>
            <td style="width: 160px">@Resources.Resources.Bat2Flocks:</td>
            <td>
               <div style="width: 220px">
                  <select data-bind="options: flocks, optionsText: 'Index', optionsValue: 'Id', value:flockId" style="width: 85px"></select>

                  @*<input type="number" style="width: 40px" id="flock-number" value="0" />*@
                  <a href="#" data-bind="click:CreateFlock"><img style="margin: 0 10px 10px 5px" src='@Url.Content("~/Content/images/add.png")' /></a>
                  <a href="#" data-bind="click:DeleteFlock"><img style="margin: 0 0 10px 5px" data-bind="style:{opacity: flockId() ? 1 : 0.5}" src='@Url.Content("~/Content/images/remove.png")' /></a>
               </div>
            </td>
         </tr>

      </table>
   </div>
   <div class="bat2-view-item" data-bind="with: flock">
      <div style="float: left; margin: 0 60px 20px 0">
         <table>
            <tr><td style="width: 160px">@Resources.Resources.Bat2Name:</td><td><input data-bind="value: Name" type="text"></td></tr>
            <tr><td></td><td><input type="checkbox" data-bind="checked: $parent.useGender"> @Resources.Resources.Bat2UseBothGenders</td></tr>
            <tr><td></td><td><input type="checkbox" data-bind="checked: $parent.useCurves"> @Resources.Resources.Bat2UseGrowthCurves</td></tr>
            <tr><td>@Resources.Resources.Bat2WeightFrom:</td><td><input data-bind="value: WeighFrom" type="number" style="width: 70px"/></td></tr>
            <tr><td>@Resources.Resources.Bat2WeightTill:</td><td><input data-bind="value: WeighTo" type="number" style="width: 70px"/></td></tr>
         </table>
      </div>
      <div style="float: left">
         @*Use growth curves*@
         <div data-bind="visible: $parent.useCurves">
            @*Females*@
            <div style="float: left; width: 270px; margin-right: 40px">
               <div>
                  @Resources.Resources.Bat2GrowthCurve - @Resources.Resources.Bat2Females:<img data-bind="click:$parent.LoadCurves.bind('female')" class="choseCurve" src='@Url.Content("~/Content/images/import.png")' alt="@Resources.Resources.Bat2UploadCurve" title="@Resources.Resources.Bat2UploadCurve" />
               </div>
               <table id="female-gc" class="dataTable" data-bind="tableData:  $parent.flock">
                  <thead>
                  <tr>
                     <th>@Resources.Resources.Bat2Day</th>
                     <th>@Resources.Resources.Bat2Weight</th>
                     <th></th>
                  </tr>
                  </thead>
               </table>
               <div style="padding: 5px">
                  <form data-bind="submit: $parent.AddFemalePoint">
                     <span>@Resources.Resources.Bat2Day:</span><input type="number" name="day" style="width: 50px; margin: 0 0 0 2px" value="1" data-bind="event:{change:$parent.ValidateCurve.bind('female','day')}"/>
                     <span class="config-err" data-bind="visible: !$parent.validCurve().female.unique || !$parent.validCurve().female.day" title="@Resources.Resources.Bat2DayFormat">!</span>
                     <span>@Resources.Resources.Bat2Weight:</span><input type="number" step="0.001" name="value" style="width: 50px; margin: 0 0 0 2px" value="0" data-bind="event:{change:$parent.ValidateCurve.bind('female','weight')}"/>
                     <span class="config-err" data-bind="visible: !$parent.validCurve().female.weight" title="@Resources.Resources.Bat2WeightFormat">!</span>
                     <button class="transparent" type="submit" data-bind="enable:$parent.IsPointValid('female')"><img style="margin: 0 0 0 5px" src='@Url.Content("~/Content/images/add.png")'/></button>
                  </form>
               </div>
            </div>
            @*Males*@
            <div data-bind="visible: $parent.useGender" style="float: left; width: 270px">
               <div>
                  @Resources.Resources.Bat2GrowthCurve - @Resources.Resources.Bat2Males: <img data-bind="click:$parent.LoadCurves.bind()" class="choseCurve" src='@Url.Content("~/Content/images/import.png")' alt="@Resources.Resources.Bat2UploadCurve" title="@Resources.Resources.Bat2UploadCurve" />
               </div>
               <table id="male-gc" class="dataTable" data-bind="tableData: $parent.flock">
                  <thead>
                  <tr>
                     <th>@Resources.Resources.Bat2Day</th>
                     <th>@Resources.Resources.Bat2Weight</th>
                     <th></th>
                  </tr>
                  </thead>
               </table>
               <div style="padding: 5px">
                  <form data-bind="submit: $parent.AddMalePoint">
                     @Resources.Resources.Bat2Day:<input type="number" name="day" style="width: 50px; margin: 0 0 0 2px" value="1" data-bind="event:{change:$parent.ValidateCurve.bind('male','day')}"/>
                     <span class="config-err" data-bind="visible: !$parent.validCurve().male.unique || !$parent.validCurve().male.day" title="@Resources.Resources.Bat2DayFormat">!</span>
                     @Resources.Resources.Bat2Weight:<input type="number" step="0.001" name="value" style="width: 50px; margin: 0 0 0 2px" value="0" data-bind="event:{change:$parent.ValidateCurve.bind('male','weight')}"/>
                     <span class="config-err" data-bind="visible: !$parent.validCurve().male.weight" title="@Resources.Resources.Bat2WeightFormat">!</span>
                     <button class="transparent" type="submit" data-bind="enable:$parent.IsPointValid('male')"><img style="margin: 0 0 0 5px" src='@Url.Content("~/Content/images/add.png")'/></button>
                  </form>
               </div>
            </div>
         </div>
         @*Use initial weight*@
         <table data-bind="visible:!$parent.useCurves()">
            <tr style="border-bottom: 2px solid lightgray">
               <td colspan="2">@Resources.Resources.Bat2InitialWeight:</td>
            </tr>
            @*Females*@
            <tr>
               <td style="width: 100px">@Resources.Resources.Bat2Females:</td>
               <td><input data-bind="value: InitialFemale" type="number"/></td>
            </tr>
            @*Males*@
            <tr data-bind="visible: $parent.useGender()">
               <td>@Resources.Resources.Bat2Males:</td>
               <td><input data-bind="value: InitialMale" type="number"/></td>
            </tr>
         </table>
      </div>
   </div>

   <div class="modal fade" id="loadCurves">
      <form data-bind="submit: ChangeCurvePoints" style="margin-bottom: 0;">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>@Resources.Resources.Bat2LoadCurve</h3>
         </div>
         <div class="modal-body">
            <select data-bind="options: curves, optionsText: 'Name', value: curve"></select>
         </div>
         <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">@Resources.Resources.CloseButton</a>
            <input type="submit" class="btn btn-primary" value="@Resources.Resources.Change" />
         </div>
      </form>
   </div>
</div>