﻿<div class="bat2-view-item" data-bind="with: config">
   <table style="float: left; margin: 0 40px 0 0">
      <tr><td><input data-bind="checked:Gsm.Use" type="checkbox" /></td><td>@Resources.Resources.Bat2UseGsm</td></tr>
      <tr><td><input data-bind="checked:Gsm.SendMidnight" type="checkbox" /></td><td>@Resources.Resources.Bat2SendAtMidnight</td></tr>
      <tr>
         <td></td>
         <td>
            <table>
               <tr><td>@Resources.Resources.Bat2Period 1:</td><td><input data-bind="value:Gsm.Period1" type="number" style="width: 70px" /> @Resources.Resources.Bat2Days</td></tr>
               <tr><td>@Resources.Resources.Bat2Day 1:</td><td><input data-bind="value:Gsm.Day1" type="number" style="width: 70px" /></td></tr>
               <tr><td>@Resources.Resources.Bat2Period 2:</td><td><input data-bind="value:Gsm.Period2" type="number" style="width: 70px" /> @Resources.Resources.Bat2Days</td></tr>
               <tr><td>@Resources.Resources.Bat2TimeOfSending:</td><td><input data-bind="value:Gsm.SendHour" type="number" style="width: 70px" /> : <input data-bind="value:Gsm.SendMin" type="number" style="width: 70px" /></td></tr>
            </table>
         </td>
      </tr>
      <tr><td><input data-bind="checked:Gsm.SendRequest" type="checkbox" /></td><td>@Resources.Resources.Bat2SendOnRequest</td></tr>
      <tr><td><input data-bind="checked:Gsm.CheckNumbers" type="checkbox" /></td><td>@Resources.Resources.Bat2CheckNumbers</td></tr>
   </table>
   <div style="float: left">
      <span>@Resources.Resources.Bat2Numbers:</span><br />
      <input data-bind="value:Gsm.Number0" type="tel" /><br />
      <input data-bind="value:Gsm.Number1" type="tel" /><br />
      <input data-bind="value:Gsm.Number2" type="tel" /><br />
      <input data-bind="value:Gsm.Number3" type="tel" /><br />
      <input data-bind="value:Gsm.Number4" type="tel" />
   </div>
</div>
