﻿<div class="bat2-view-item" data-bind="with: config">
   <table>
      <tr><td style="width: 160px">@Resources.Resources.Bat2HistogramRange:</td><td>&plusmn;<input data-bind="value:Statistics.HistogramRange" type="number" style="width: 70px" />&#37;</td></tr>
      <tr><td>@Resources.Resources.Bat2UniformityRange2:</td><td>&plusmn;<input data-bind="value:Statistics.HistogramRange" type="number" style="width: 70px" />&#37;</td></tr>
   </table>
</div>
