﻿@using Resources
@if (Request.IsAuthenticated)
{
   using (Html.BeginForm("LogOff", "Account", new { area = "UserAccounts" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
   {
      @Html.AntiForgeryToken()
      <ul style="list-style: none; margin-left: 0">
         <li>@Html.ActionLink(Resources.AccountSettings, "Index", "Account", new { area = "UserAccounts" }, null)</li>
         <li><a href="javascript:document.getElementById('logoutForm').submit()">@Resources.LogOff</a></li>
      </ul>
   }
}
else
{
   <ul style="list-style: none; margin-left: 0">
      <li>@Html.ActionLink(Resources.LogIn, "Login", "Account", new { area = "UserAccounts" }, htmlAttributes: new { id = "loginLink" })</li>
   </ul>
}