﻿<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8"/>
   <title>@ViewBag.Title</title>
   <meta name="viewport" content="width=device-width"/>
   <meta http-equiv="X-UA-Compatible" content="IE=9">
   @Styles.Render("~/Content/common")
   @RenderSection("styles", required: false)
</head>
<body>
<div class="container-fluid">
      <div class="row-fluid">
         <div class="span2">
            <div class="navbar">
               <div class="navbar-inner">
                  <div class="container">
                     
                     <a class="brand" href="#"></a>
                     @if (@User.Identity.IsAuthenticated)
                     {
                        <a class="btn btn-navbar menu" data-toggle="collapse" data-target=".nav-collapse">
                           <img src="@Url.Content("~/Content/images/menu.png")" alt="menu" height="30" />
                        </a>
                        <div class="nav-collapse collapse">
                           <ul class="nav nav-list">
                              <li class="nav-header">@Resources.Resources.StatisticsTitle</li>
                              <li>
                                 <a href="@Url.Action("WeighingsPage", "Weighings", new {area = ""})" title=@Resources.Resources.CollectedDataTitle>@Resources.Resources.CollectedDataTitle</a>
                              </li>
                              <li class="nav-header">@Resources.Resources.FlocksTitle</li>
                              @if (User.IsInRole(DataModel.Constants.ADMIN) || User.IsInRole(DataModel.Constants.COMPANY_ADMIN) || User.IsInRole(DataModel.Constants.FLOCK_MANAGEMENT))
                              {
                                 <li>
                                    <a href="@Url.Action("ManagementPage", "Flocks", new {area = ""})" title=@Resources.Resources.ManagementTitle>@Resources.Resources.ManagementTitle</a>
                                 </li>
                              }
                              <li>
                                 <a href="@Url.Action("ActualPage", "Flocks", new {area = ""})" title=@Resources.Resources.ActualFlocksTitle>@Resources.Resources.ActualFlocksTitle</a>
                              </li>
                              <li>
                                 <a href="@Url.Action("ClosedPage", "Flocks", new {area = ""})" title=@Resources.Resources.ClosedNavigation>@Resources.Resources.ClosedNavigation</a>
                              </li>
                              <li class="nav-header">@Resources.Resources.ScalesTitle</li>
                              <li>
                                 <a href="@Url.Action("Index", "Scales", new {area = ""})" title=@Resources.Resources.ScalesLink>@Resources.Resources.ScalesLink</a>
                              </li>
                              <li class="nav-header">@Resources.Resources.CurvesTitle</li>
                              <li>
                                 <a href="@Url.Action("StandardGrowthPage", "Curves", new {area = ""})" title=@Resources.Resources.StandardGrowthTitle>@Resources.Resources.StandardGrowthTitle</a>
                              </li>
                              @if (User.IsInRole(DataModel.Constants.ADMIN) || User.IsInRole(DataModel.Constants.COMPANY_ADMIN))
                              {
                                 <li class="nav-header">@Resources.Resources.SettingsTitle</li>          
                                 <li><a href="@Url.Action("Index", "Manage", new {area = "UserAccounts"})" title=@Resources.Resources.UsersTitle>@Resources.Resources.UsersTitle</a></li>
                              }
                              @if (User.IsInRole(DataModel.Constants.ADMIN))
                              {
                                 <li><a href="@Url.Action("Index", "Company", new {area = "UserAccounts"})" title=@Resources.Resources.CompaniesPageTitle>@Resources.Resources.CompaniesPageTitle</a></li>
                              }
                              else if (User.IsInRole(DataModel.Constants.COMPANY_ADMIN))
                              {
                                 <li><a href="@Url.Action("Edit", "Company", new {area = "UserAccounts"})" title=@Resources.Resources.CompanyPageTitle>@Resources.Resources.CompanyPageTitle</a></li>
                              }

                              <li class="divider"></li>

                           </ul>
                        </div>
                     }
                  </div>
               </div>
            </div>
            <!--/.well -->
         </div>
         <!--/span-->
         <div class="span10">
            <div class="pull-right">
               <div class="dropdown pull-right" style="float: right; margin: 5px 5px;">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                     <i class="icon-globe"></i><span id="curentLang"></span>
                     <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu lang-picker">
                     @foreach (var culture in BatApp.Helpers.CultureHelper.GetAvailableCultures())
                     {
                        <li><a href="javascript:void(0);" class="@culture">@culture</a></li>
                     }
                  </ul>
               </div>
               @if (@User.Identity.IsAuthenticated)
               {
                  <div class="dropdown pull-right" style="float: right; margin: 5px 5px;">
                     <a class=" dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="icon-user"></i>@User.Identity.Name
                        <span class="caret"></span>
                     </a>
                     <ul class="dropdown-menu">
                        <li>@Html.Partial("_AccountPartial")</li>
                     </ul>
                  </div>
               }
            </div>
            <div class="hero-unit">
               @RenderBody()
            </div>
         </div>
         <!--/span-->
      </div>
      <!--/row-->

      @*<footer>
         <hr>
         <p>
            <a href="http://www.veit.cz" target="_blank">
               <img src="@Url.Content("~/Content/images/veitlogo.png")" alt="Veit" title="Veit electronics">
            </a>&copy;@DateTime.Now.Year
         </p>
      </footer>*@
   </div>
   <!--/.fluid-container-->
   <!-- Javascript
      ================================================== -->
   @Scripts.Render("~/Scripts/common")
   @RenderSection("scripts", required: false)
<script>
   var baseURL = '@Url.Content("~/")';
   $(document).ready(function () {
      if (detectIE()) {
         if ($('.modal').hasClass('fade')) {
            $('.modal').addClass('hide');
         }
         $('.modal').removeClass('fade');
      }
      $.datepicker.setDefaults($.datepicker.regional[$.cookie("_culture")]);
   });

   function detectIE() {
      var ua = window.navigator.userAgent;

      var msie = ua.indexOf('MSIE ');
      if (msie > 0) {
         // IE 10 or older => return version number
         return parseInt(ua.substring(msie + 5, ua.indexOf('.', msie)), 10);
      }

      var trident = ua.indexOf('Trident/');
      if (trident > 0) {
         // IE 11 => return version number
         var rv = ua.indexOf('rv:');
         return parseInt(ua.substring(rv + 3, ua.indexOf('.', rv)), 10);
      }

      var edge = ua.indexOf('Edge/');
      if (edge > 0) {
         // IE 12 => return version number
         return parseInt(ua.substring(edge + 5, ua.indexOf('.', edge)), 10);
      }

      // other browser
      return false;
   }

   $(function () {

      $("#curentLang").append(function () {
         @*if ($.cookie("_culture") == undefined) {
                         $.cookie("_culture", "@(BatApp.Helpers.CultureHelper.GetBrowserCulture())", { expires: 365, path: '/' });
                     }*@
         return $.cookie("_culture");
      });

      $(".lang-picker a").click(function () {
         if ($(this).hasClass(Globalize.culture().name.toLowerCase()))
            return false; // do nothing
         $.cookie("_culture", $(this).attr("class"), { expires: 365, path: '/' });
         window.location.reload(); // reload
         return true;
      });

      $(".validationMessage").tooltip();
   });
</script>
</body>
</html>